<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/users/greggmidon/data/bbx/logs/bbx-svc.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JDBC" class="ch.qos.logback.core.FileAppender">
        <file>/users/greggmidon/data/bbx/logs/bbx-jdbc.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="TOMCAT" class="ch.qos.logback.core.FileAppender">
        <file>/users/greggmidon/data/bbx/logs/bbx-tomcat.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="APP" class="ch.qos.logback.core.FileAppender">
        <file>/users/greggmidon/data/bbx/logs/bbx-app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <logger name="com.midonco" level="TRACE">
        	<appender-ref ref="APP" />
    </logger>

    <logger name="org.springframework" level="DEBUG"/>

    <logger name="org.apache" level="INFO">
    	<appender-ref ref="TOMCAT" />
    </logger>
    
    <logger name="org.catalina" level="INFO">
    	<appender-ref ref="TOMCAT" />
    </logger>
    
    <logger name="org.springframework.jdbc" level="DEBUG">
    	<appender-ref ref="JDBC" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
   
</configuration>
